@use '@angular/material' as mat;

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$my-primary: (
  50: #e4ebf2,
  100: #bacedd,
  200: #8daec7,
  300: #5f8db1,
  400: #3c74a0,
  500: #1a5c8f,
  600: #175487,
  700: #134a7c,
  800: #0f4172,
  900: #083060,
  A100: #92bdff,
  A200: #5f9fff,
  A400: #2c80ff,
  A700: #1371ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$my-accent: mat.define-palette(mat.$orange-palette);

$my-success: mat.define-palette(mat.$green-palette);
$my-warn: mat.define-palette(mat.$yellow-palette);
$my-attention: mat.define-palette(mat.$red-palette);