<div class="login-component">
  <mat-card class="login-box mat-elevation-z2">
    <img src="../../assets/classMate.svg" alt="classMate" width="300rem" />
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <mat-label i18n>Username</mat-label>
        <input
          matInput
          i18n-placeholder
          placeholder="Ex. max-mus"
          id="username"
          type="text"
          formControlName="username"
          tabindex="0"
          autofocus
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label i18n>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          id="password"
          type="password"
          formControlName="password"
        />
        <button
          class="material-symbols-rounded"
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid"
        i18n
      >
        Login
      </button>
    </form>
  </mat-card>
</div>
