<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="subject">
      <mat-header-cell class="matColumn" *matHeaderCellDef> Subject </mat-header-cell>
      <mat-cell class="matColumn" *matCellDef="let element"> {{element.lesson.subjects}} </mat-cell>
    </ng-container>

    <ng-container *ngFor="let n of gradeArray" matColumnDef="{{n}}">
      <mat-header-cell class="matColumnGrades" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="matColumnGrades" *matCellDef="let element"> {{element.gradesWithMarks[n]?.mark.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="average">
      <mat-header-cell class="matColumn" *matHeaderCellDef> Average </mat-header-cell>
      <mat-cell class="matColumn" *matCellDef="let element"> {{ element.averageMark }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>