.card-overview {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 0 2rem 0;

  .mat-mdc-card {
    flex-grow: 1;

    .mat-mdc-card-content {
      text-align: center;
      margin: 2rem 4rem;
      font-weight: 600;
      font-size: 2rem;
    }
  }
}

.grade-table {
  .matColumnGrades {
    min-width: 4rem;
    justify-content: center;
  }

  .mat-mdc-row:hover {
    background-color: rgba($color: #000000, $alpha: 0.05);
  }

  .cdk-column-average {
    max-width: 10rem;
    border-left: 0.05rem solid black;
    justify-content: center;
  }

  .cdk-column-subject {
    border-right: 0.05rem solid black;
    max-width: 20rem;
  }
}

.grade-accordion {
  display: block;

  .item-body {
    .grade-row {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0.5rem;
    }

    .btn-row {
      display: flex;
      justify-content: right;
    }
  }
}
