
.grade-table {
  margin: 2rem 4rem;

  .matColumnGrades {
    // border-right: .05rem solid rgba(0, 0, 0, 0.1);
    // max-width: 8rem;
    min-width: 4rem;
    justify-content: center;
  }

  .matColumn {
      // flex-grow: 2;
  }

  .cdk-column-average {
    max-width: 10rem;
    border-left: .05rem solid black;
    justify-content: center;
  }

  .cdk-column-subject {
    border-right: .05rem solid black;
    max-width: 20rem;
  }
}


.grade-accordion {
  
  .item-body {
    
    .grade-row {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0.5rem;
    }
  }
}