<div class="page">
  <div class="top-bar">
    <div class="left">
      <button *ngIf="backExists()" type="button" color="primary" mat-icon-button matSuffix (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="middle">
      <img src="../../assets/geekUntisLogo.svg" alt="geekUntis" width="120rem" (click)="backToHome()">
    </div>
    <div class="right">
      <button *ngIf="isLoggedIn()" type="button" color="primary" mat-fab matSuffix (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
  
  <div class="content">
    <span [hidden]="contentIsLoading">
      <router-outlet ></router-outlet>
    </span>
    <div class="loading" *ngIf="contentIsLoading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  
  <div class="bottom-bar">
    <div style="margin: 1rem; text-align: end;">
      Made by @Schlaumra
    </div>
  </div>
</div>
