.page {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .top-bar {
    z-index: 999;
    mat-toolbar {
      position: fixed;
    }
    .left,
    .right {
      min-width: 60px;
    }

    .left {
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .middle {
      flex-grow: 1;
      display: flex;
      justify-content: center;

      .logo {
        display: flex;
        height: 64px;
        align-items: center;
      }
    }

    .right {
      display: flex;
      justify-content: right;
      align-items: center;
      height: 100%;

      button {
        height: 100%;
      }
    }
  }

  .content {
    flex-grow: 1;
    margin-top: 64px;
    padding: 40px;

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .mat-mdc-progress-spinner {
        width: 75px !important;
        height: 75px !important;
      }
    }
  }

  .bottom-bar {
    text-align: center;
  }
}

.menu-current-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  gap: 20px;
  font-weight: bold;
}

.menu-account-selection {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .user {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .user:hover {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
}

.avatar {
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 100px;
  width: 100px;
  overflow: hidden;

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}