<div class="page">
  <div class="top-bar">
    <mat-toolbar color="primary">
      <div class="left">
        <button
          class="material-symbols-rounded"
          *ngIf="backExists()"
          mat-icon-button
          matSuffix
          (click)="back()"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="middle">
        <div class="logo" (click)="backToHome()">
          <img
            src="../../assets/classMateLogo.svg"
            alt="classMate"
            height="20px"
          />
        </div>
      </div>
      <div class="right">
        <button
          class="material-symbols-rounded"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          *ngIf="isLoggedIn()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div class="menu-current-account">
            <div class="avatar">
              <img [src]="getCurrentUser()?.imageUrl || '../../assets/account.svg'">
            </div>
            <div>{{ getCurrentUser()?.displayName }}</div>
            <div>
              <mat-form-field (click)="$event.stopPropagation()">
                <mat-label i18n>School year</mat-label>
                <mat-select [(value)]="selected" (selectionChange)="setYear()">
                  <mat-option *ngFor="let schoolYears of getSchoolYears(); index as i" [value]="i">{{schoolYears.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="menu-account-selection">
            <div *ngFor="let user of getUsersExceptCurrent()" class="user" (click)="setUser(user)">
              <div class="avatar" style="width: 60px; height: 60px;">
                <img [src]="user.imageUrl || '../../assets/account.svg'">
              </div>
              <div>{{ user.displayName }}</div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()" class="logout">
            <mat-icon class="material-symbols-rounded">logout</mat-icon>
            <span i18n>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </div>

  <div class="content mat-typography">
    <span [hidden]="loading.isLoading$| async">
      <router-outlet></router-outlet>
    </span>
    <div class="loading" *ngIf="loading.isLoading$ | async">
      <mat-spinner ></mat-spinner>
    </div>
  </div>

  <div class="bottom-bar">
  </div>
</div>
