$border-thick: 2px;
$border-thin: 1px;
$border-color: #000000;
$border-color-light: rgba($color: #000000, $alpha: 0.3);;
$hover-color: rgba($color: #000000, $alpha: 0.05);

.recent-marks {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  .grade-row {
    align-self: flex-start;
    width: 100%;
    .grade-line {
      display: flex;
      justify-content: space-between;
      font-weight: normal;
      font-size: 1rem;
      margin: 5px 0;

      span {
        margin: 0 10px;
      }

      .subject {
        max-width: 100px;
        width: 100%;
      }
    }
  }
}

.grade-table {
  .matColumnGrades:first {
    border: none
  }

  .matColumnGrades {
    border-left: $border-thin solid $border-color-light;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .matColumnGradesMark {
      padding: 7px;
      text-align: center;
      flex-grow: 1;
    }
  }

  .cdk-header-cell.matColumnGrades {
    justify-content: center;
  }

  .mat-mdc-header-cell {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .mat-mdc-row:hover {
    background-color: $hover-color;
  }

  .cdk-column-average {
    max-width: 150px;
    min-width: 140px;
    border-left: $border-thick solid $border-color;
    justify-content: center;
    font-weight: bold;
  }

  .cdk-column-subject {
    border-right: $border-thick solid $border-color;
  }
}

.grade-accordion {

  .mat-expansion-panel-header-description {
    justify-content: right;
  }

  .item-body {
    .grade-row {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
    }

    .btn-row {
      display: flex;
      justify-content: right;
    }
  }
}
